html, body, #app {height: 100%;}
@yellow:#fbc400;
@grey: rgba(151,151,151,0.64);
@grey-bold : #979797;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;

}