html, body, #app {height: 100%;}
@yellow:#fbc400;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-image: url("http://punolee.cn/images/w/1.jpg")
}